<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mager.gamer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MagerGamerApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_mager_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mager">
        <activity
            android:name=".ui.user.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.edit.LocUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.edit.NameUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.edit.BioUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.UserSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.follow.FollowerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.follow.FollowingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.DoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postingan.EditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postingan.VideoActivity"
            android:theme="@style/Style.Translucent"
            android:exported="false" />
        <activity
            android:name=".ui.komunitas.DetailCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onBoard.OnBoardctivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.draft.DraftActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postingan.DetailPostinganActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postingan.BuatPostinganActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>